*{
    margin: 0;
    padding: 0;
      font-family: "Nunito", sans-serif;
    
}
.container{
  display: flex;
  height: 100vh;
  justify-content: center ;
  align-items: center;
  background:linear-gradient(150deg,#2841b0, #8834a6) ;
    
}

.imge img{
  display: block;
  padding: 10px;
  width: 130px;
  height: auto;
  border-radius: 50% ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}
.content{
  width: 350px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin: 30px;
  background-color: #fff;
  
}
.name{
  font-weight: bolder;
  font-size: 1.25em;
  margin-bottom: 4px;
  letter-spacing: 1px;

}
.job_title{
  font-size: 0.8em;
  font-weight: bolder;
  color: gray
}
.job_discription{
  font-size: 0.7em;
  color: grey;
  margin: 10px 30px 20px;

}

.icon{
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 34px;
  font-size: 18px;
  
}
 .icon button{
  width: fit-content;
  font-size: 2em; 
  background-color:#fff; 
  background-color: #f3f7fe;
  color: #a23bf6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  transition: 0.3s;
}
 
 .icon button:hover{
  background-color: #9034db;
  box-shadow: 0 0 0 5px #953bf65f;
  color: #fff;
 }
